.contain {
  background-color: chocolate;
  width: 100%;
  height: 100vh;
}

.profileContain {
  /* display: flex; */
 padding-top: 10%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 30%;
  border: solid black 3px;
}
