.home {
  background-image: url("../assets/home/fondo.png");
  background-repeat: no-repeat;
  /* background-position: top left; */
  backdrop-filter: blur(10px);

}

.containCards {
  display: grid;
  grid-template-columns: repeat(4,auto);
  gap:5px
}

