@import url("https://fonts.googleapis.com/css2?family=Contrail+One&display=swap");

.contain {
  background-image: url("../../assets/trabajos/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Contrail One";
}

/* tratamientos */
.photoContain {
  display: flex;
  flex-direction: column;
  margin-inline: 10%;
  padding-block: 10%;
  /* text-align: center; */
  color: #f1d518;
}

.photo {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(4, auto);
  gap: 5%;
}
