.navbar{
background-color:#c99400;
width: 100%;
position: fixed;
z-index: 1;
font-family: Contrail One;
}

.link{
text-decoration: none;
color: #000000;
padding: 10px;
}

.link:hover{
    color:white
}

.active{
position: absolute;
background-color: red;
padding: 1%;
right: 0.5%;

}