@import url("https://fonts.googleapis.com/css2?family=Contrail+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.landing {
  margin: 0;
  padding: 0;
  /* background-image: url("../../assets/landing/fondoNewold1.jpg"); */
  /* background-image: url("../../assets/landing/img.png"); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #000000;
}

.titleContain {
  background-image: url("../../assets/landing/BG-Title.jpg");
  background-size: cover;
  box-shadow: rgb(241, 213, 24) 0px 1px 15px 2px;
  height: 95vh;
  margin-bottom: 5%;
}

.logo {
  padding-top: 10%;
  display: flex;
  justify-content: center;
}

.titleContain h1 {
  color: #f1d518;
  padding-top: 3%;
  padding-bottom: 2%;
  text-align: center;
  font-family: "Contrail One";
}

.titleContain p {
  color: #ffffff;
  padding-bottom: 10%;
  text-align: center;
  font-family: "Contrail One";
}

/* servicios */

.servicesContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15%;
}
.servicesContain h2 {
  text-align: center;
  color: #f1d518;
  font-family: "Contrail One";
  padding: 2%;
  margin-top: 2%;
}

.serviceBox {
  margin-top: 5%;
  color: #ffffff;
  border: solid #f1d518 3px;
  width: 65%;
  transition: 1s;
}

.informacion {
  border-top: solid #f1d518 3px;
  display: flex;
}

.serviceBox p {
  font-size: 16px;
  font-family: "Roboto";
  padding: 2%;
  transition: 1s;
}
.serviceBox h2 {
  transition: 1s;
  padding: 1%;
}

.serviceBox:hover > h2 {
  color: white;
}
.serviceBox:hover > .informacion > p {
  color: #f1d518;
}

.buttonService {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 20vh;
  transition: 1s;
  align-items: center;
}
.servicesContain button {
  color: #f1d518;
  background-color: #000000;
  border: solid #f1d518 3px;
  border-radius: 10px;
  padding: 1%;
  transition: 1s;
}
.servicesContain button:hover {
  color: black;
  background-color: #f1d518;
  transition: 1s;
}

/* sobre nosotros */
.about {
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: #ffffff;
  margin-inline: 15%;
  font-size: 16px;
  font-family: "Roboto";
  /* border-bottom: solid #f1d518 1px; */
}
.about:hover {
  box-shadow: rgb(241, 213, 24) 0px 10px 10px -10px;
}

.about h2 {
  color: rgb(241, 213, 24);
  text-align: center;
  font-family: arial black;
}

.textAbout {
  background-color: #f1d418de;
  border-radius: 10px;
  display: flex;
  color: #000000;
}
.textAbout p {
  width: 50%;
  padding:3% 3% 1% 3%;
  text-align: justify;
}
