.serviciosContain {
  background-image: url("https://img.freepik.com/fotos-premium/fondo-amarillo-negro-habitacion-vacia_570543-7231.jpg?w=740");
  background-repeat: no-repeat;
  background-size: cover;
}

.grillaService {
  font-size: 1.5rem;
  border: solid 3px black;
  padding-top: 10%;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  color: #f1d518;
  margin-bottom: 5%;
}
.grillaService h3 {
  /* box-shadow: #f1d518 0px 10px 10px -10px; */
  box-shadow: #ffffff 0px 10px 10px -10px;
  font-size: 2rem;
}
.grillaService p {
  color: #f1d518;
  /* color: white; */
}

.lavados {
  border: solid black 3px;
  border-radius: 15px;
  margin: 1%;
  padding-inline: 1%;
  transition: 1s;
}
.lavados h4 {
  color: #f1d518;
  text-align: center;
}
.lavados:hover {
  background-color: rgba(0, 0, 0, 0.59);
  transition: 1s;
  border: solid #f1d518 3px;
}
.lavados:hover > span {
  color: #f1d518;
}

.tratamientos {
  border: solid black 3px;
  border-radius: 15px;
  margin: 1%;
  padding-inline: 1%;
  transition: 1s;
}
.tratamientos h4 {
  text-align: center;
  color: #f1d518;
}
.tratamientos p {
  text-align: center;
  font-size: 1rem;
}
.tratamientos > Link > p {
  text-decoration: none;
}

.tratamientos:hover {
  background-color: rgba(0, 0, 0, 0.59);
  transition: 1s;
  border: solid #f1d518 3px;
}

.otrosService {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  gap: 5%;
  margin: 5% 1%;
  border: solid rgb(0, 0, 0) 3px;
  border-radius: 15px;
  font-size: 1rem;
  padding: 1%;
  transition: 1s;
}

.otrosService:hover {
  border: solid #f1d518 3px;
  transition: 1s;
}
