.contain {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("../../assets/fonodo3.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.CardContain {
  padding-top: 10%;
}

.card {
  margin-inline: 20%;
  margin-bottom: 2%;
  color: white;
  display: flex;
  flex-direction: row;
  border: solid black 3px;
}
.info {
  width: 70%;
}
.infoPrice {
  display: flex;
  width: 30%;
  text-align: center;
}

.cant {
  width: 70%;
  border: solid black 3px;
  border-top: none;
  border-bottom: none;
}

.price {
  width: 40%;
  border-right: solid black 3px;
  display: flex;
  flex-direction: column;
}
.price .sub {
  font-size: 10px;
}
.butonCancell {
  display: flex;
  align-items: center;
  font-size: 25px;
  background-color: #f1d518;
  color: black;
  padding: 0.5%;
}
.butonCancell:hover {
  color: red;
  cursor: pointer;
}







.total {
  display: flex;
  margin-inline: 20%;
  border: solid black 3px;
  color: white;
  border: solid rgb(0, 255, 166) 3px;
}

.vacio {
  width: 65%;
  border-top: none;
  border-bottom: none;
  border: solid rgb(243, 14, 14) 3px;
}
.priceT {
  text-decoration: underline;
  text-align: center;
  border: solid rgb(255, 255, 255) 3px;
  margin-left: 65%;
  width: 15%;

}
.butonPagar  {
  width: 18.5%;
  border: solid rgb(246, 255, 0) 3px;
}

.productContain {
  display: flex;
  width: 100%;
}


.noItems {
  border: solid black 3px;
  margin-inline: 20%;
  color: white;
  margin-top: 30%;
  text-align: center;
  padding-top: 1%;
}
